<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>iBacon Map</title>

	<script type="text/javascript" src="/static/$(project).js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <style>
		/* For table data */
		td, th {
		    padding: 1px 4px;
		}

		#intro  {
		    padding:1em;
		}

		path.line {
		    fill: none;
		    stroke: #666;
		    stroke-width: 1.5px;
		}

		.domain {
		    stroke-width: 1px;
		}

		circle {
		    cursor: pointer;
		}

		.axis {
		    shape-rendering: crispEdges;
		}

		.axis line, .axis path {
		    stroke-width: 1px;
		    stroke: #000;
		    fill: none;
		}

		.tooltip {
		    display: none;
		}

		.tooltip.active {
		    display: block;
		}

		.tooltip rect {
		    fill: #ff0000;
		}
    </style>

	<style>
		body {
			/*background: #192887;*/
		}
		.graticule {
		    fill: none;
		    stroke: #fff;
		    stroke-width: .5px;
		}
		.land {
		    fill: #007421;
		}
		.dot {
		    fill: #c7141a;
		}
		.ring {
		    fill: none;
		    stroke: #c7141a;
		}
		#map {
  			background: url(http://members.retentionsandbox.com/rs_hollywood2.png) no-repeat;
			width: 1070px;
			height: 832px;
		}
	</style>

</head>
<body>
    <h1>iBacon Map in d3.js &amp; Flask</h1>
    <div id="intro">
    	Update values
	</div>

	<div id='map'>
	</div>

    </div>
		<p> Polled data:</p>
	<div id="feed">
	<script>
		function rainbow(numOfSteps, step) {
		    // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
		    // Adam Cole, 2011-Sept-14
		    // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
		    var r, g, b;
		    var h = step / numOfSteps;
		    var i = ~~(h * 6);
		    var f = h * 6 - i;
		    var q = 1 - f;
		    switch(i % 6){
		        case 0: r = 1, g = f, b = 0; break;
		        case 1: r = q, g = 1, b = 0; break;
		        case 2: r = 0, g = 1, b = f; break;
		        case 3: r = 0, g = q, b = 1; break;
		        case 4: r = f, g = 0, b = 1; break;
		        case 5: r = 1, g = 0, b = q; break;
		    }
		    var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
		    return (c);
		}
	</script>
    <script>
		// Expected field names 
		var UID_NAME = 'uuid'; 
		var DIST_NAME = 'proximity';
		
		//var DATA_SOURCE = "http://iheartbacon.retentionsandbox.com/sites/1/who-wants-my-bacon";
		var DATA_SOURCE = "/getdists";
				
		var globalData; // Store location data globally.
		var uidVisitOrder = {}; // Global. Track the order in which new uids are seen.

		$(document).ready(function() {
			// $("body").css("background-color",rainbow(maxColors,2));
			(function poll() {
				setTimeout(function() {
					$.ajax({
						//url: "/getdists",
						url: DATA_SOURCE,
						type: "GET",
						success: function(data) {
							update_data(data);
							update_table('#feed');
							update_map('#map');
							console.log("Poll")
						},
						dataType: "json",
						crossDomain: true,
						complete: poll,
						timeout: 1000
					}) //, 5000  <-- oops.
				}, 1000); // <-- should be here instead
			})();
		});
        // Load the data.
        var callback = function (data) {
			//update_data(data); // Update global data
			//update_table('#feed');
        };

		var update_data = function(data) {
			globalData = data;
			for (var dict in globalData) {
				var thisUser = globalData[dict][UID_NAME];
				if (!(thisUser in uidVisitOrder)) {
					uidVisitOrder[thisUser] = Object.keys(uidVisitOrder).length;
				}
				if (globalData[dict][DIST_NAME] < 0.0) {
					globalData[dict][DIST_NAME] = 0.0; // Just in case
				}
			}
			console.log('Visit mapping:');
			console.log(uidVisitOrder);
			console.log('Color mapping:');
			console.log(colorMap);
		}
		
		var update_table = function(reference) {
			$(reference).empty();
			var str = ''
			for (var dict in globalData) {
				str += 'userId: ' + 
					globalData[dict][UID_NAME] + 
					' distance: ' + 
					globalData[dict][DIST_NAME] + '<p>'
				//console.log('Drawing the update on reference ' + reference)
			}
			$(reference).html(str)
		}

		var update_map = function(reference, data) {

		}

		
		//d3.json("/getdists", callback);
		d3.json(DATA_SOURCE, callback);
		
    </script>

	<script>
		//var data = [{x:-8,y:100},{x:-10,y:110},{x: -12,y:120}];
		 // Test Data
		var beacon = {x: 0, y: 0};
	 	// Only one beacon allowed for now since translation loops on global data rather than beacons. 
		var beacons = [beacon]; 
		
		/*
		var data = [{
		    userId: 1,
		    distance: 215
		}, {
		    userId: 2,
		    distance: 75
		}, {
		    userId: 3,
		    distance: 192
		}];*/
		
		var MAX_COLORS = 5; // Should make this fail better.
		
		/*var colorMap = {
		    1:"#0000FF",
		    2:"#00FF00",
		    3:"#9900CC"
		}*/
		
		function generateColorMap(numColors) {
			map = {};
			for (i = 0; i < numColors; i++) { 
			    map[i] = rainbow(numColors, i);
			}
			return map;
		};
		
		var SCALE = 15; // # pixels per unit radius.
		var colorMap = generateColorMap(MAX_COLORS);
    
		var interval = 750;
		
		var width = 960,
		    height = 500;

		var projection = d3.geo.mercator()
		    .center([0, 0])
		    .scale(1275)
		    .translate([width / 2, height / 2])
		    .clipExtent([
		    [0, 0],
		    [width, height]
		])
		    .precision(.1);

		var path = d3.geo.path()
		    .projection(projection);

		var graticule = d3.geo.graticule()
		    .step([5, 5]);

		var svg = d3.select("#map").append("svg")
		    .attr("width", width)
		    .attr("height", height);

		svg.append("path")
		    .datum(graticule)
		    .attr("class", "graticule")
		    .attr("d", path);

		svg.selectAll("circle")
		    .data(beacons)
		    .enter()
		    .append("circle")
		    .attr("class", "dot")
		    .attr("transform", translateCircle)
		    .attr("r", 8);


		function translateCircle(beacon, index) {
			console.log("translate(" + projection([beacon.x, beacon.y]) + ")");
			return "translate(" + projection([beacon.x, beacon.y]) + ")";
			console.log('Beacon:' + beacon);
			//console.log("translate(" + projection([originX, originY]) + ")");
			//return "translate(" + projection([originX, originY]) + ")";

		};

		setInterval(function () {
    
		    globalData.forEach(function (datum) {
				var newColor = colorMap[ uidVisitOrder[datum[UID_NAME]] ];
				var newRad = Number(datum[DIST_NAME]*SCALE);
		        console.log("color: ", newColor);
		        console.log("radius: ", newRad );
				console.log("globalData?", globalData);
				console.log("uid?", datum[UID_NAME]);
				console.log(uidVisitOrder);
				console.log("colorMap?", colorMap);

		        svg.append("circle")
		            .attr("class", "ring")
		            .attr("transform", translateCircle(beacon)) // Translate by one beacon, decoupled from globalData
		            .attr("r", newRad)
		            .style("stroke-width", 3)
		            .style("stroke", newColor)
		            .transition()
		            .ease("linear")
		            .duration(2000)
		            .style("stroke-opacity", 1e-6)
		            .style("stroke-width", 1)
		            .style("stroke", newColor)
		            .attr("r", newRad )
		            .remove();
		    })
		}, interval)


		d3.select(self.frameElement).style("height", height + "px");
	</script>
</body>
</html>
