<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>iBacon Map</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='project.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='map.css')}}">
	
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script type="text/javascript" src="/static/project.js"></script>
	<script type="text/javascript" src="/static/map.js"></script>
	<script type="text/javascript" src="/static/map_d3.js"></script>

</head>
<body>
    <h1>iBacon Map in d3.js &amp; Flask</h1>
    <div id="intro">
    	Update values
	</div>

	<div id='map'>
	</div>

    </div>
		<p> Polled data:</p>
	<div id="feed">
</body>
</html>

<script>


</script>